﻿@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<BlazoredModal />

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">О проекте</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>