﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <img src="//files.ati.su/assets/shared/img/big_logo_new.svg" alt="АвтоТрансИнфо">
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus nav-link-black" aria-hidden="true"></span> 
                <span class="nav-link-black"> Добавить заявку</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="loading_quieue">
                <span class="oi oi-list-rich nav-link-black" aria-hidden="true"></span> 
                <span class="nav-link-black"> Все заявки</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link " href="all-gates-table">
                <span class="oi oi-grid-three-up nav-link-black" aria-hidden="true"></span> 
                <span class="nav-link-black"> График работ </span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="gatesettings">
                <span class="oi oi-cog nav-link-black" aria-hidden="true"></span> 
                <span class="nav-link-black"> Настрока терминала</span>
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
