﻿@page "/all-gates-table"

@using DigitalUnloadingQueue.Data
@using DigitalUnloadingQueue.Models
@using BlazorDateRangePicker
@using DigitalUnloadingQueue.Components
@inject WeatherForecastService ForecastService
@inject IModalService ModalService
@inject GatesInfosInfoService GatesInfoService
@using FrontOrder = DigitalUnloadingQueue.Models.LoadingOrder;

<h1>График работ</h1>
<div style="align-items: end">
    <DateRangePicker OnRangeSelect="OnRangeSelect" StartDate="@FirstDate" EndDate="@LastDate" />
</div>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table gate-table" style="max-width: 763px;">
        <thead>
            <tr>
                <th>Время</th>
                @foreach (var item in items)
                {
                    <th>Gate&nbsp;@item.GateNumber</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < ((LastDate - FirstDate).Days + 1) * 24; i++)
            {
                if (i % 24 == 0)
                {
                    @FirstDate.AddDays(i / 24).ToString("dddd, dd MMMM yyyy")
                }

                var hour = i;
                <tr>
                    <td>@($"{hour % 24}:00")</td>
                    @foreach (var item in items)
                    {
                        <td class="@GetClass(item, hour)" @onclick="(() => ShowInfo(item, hour))">@GetTimeText(item, hour)</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>


@code {
    private IList<GateInfo> items;
    private DateTime FirstDate;
    private DateTime LastDate;

    private DateTime startTime;
    private DateTime finishTime;
    private Guid selectedGate = Guid.Empty;


    protected override async Task OnInitializedAsync()
    {
        items = Task.Run(() => GatesInfoService.GetAllGatesInfo()).GetAwaiter().GetResult();
        FirstDate = DateTime.Now.Date;
        LastDate = DateTime.Now.Date;
    }

    private void ShowInfo(GateInfo gate, int hoursFromStart)
    {
        var currentPartOfTime = FirstDate.AddHours(hoursFromStart);
        var item = gate.PinnedOrders.FirstOrDefault(pin => pin.ProcessTimeStart <= currentPartOfTime && pin.ProcessTimeStop > currentPartOfTime);
        if (item == null)
        {
            return;
        }

        var parameters = new ModalParameters();
        parameters.Add("OrderInfo", item);
        parameters.Add("FirstDate", item.ProcessTimeStart);
        parameters.Add("LastDate", item.ProcessTimeStop);
        parameters.Add("Gate", gate.GateNumber);


        var options = new ModalOptions()
        {
            DisableBackgroundCancel = true
            //Style = "blazored-prompt-modal"
        };

        ModalService.Show<OrderInfoComponent>($"Информация по загрузке \"{item.TruckId}\"", parameters, options);
    }

    private string GetClass(GateInfo gate, int hoursFromStart)
    {
        var currentPartOfTime = FirstDate.AddHours(hoursFromStart);
        if (gate.GateId == selectedGate && startTime <= currentPartOfTime && finishTime > currentPartOfTime)
        {
            return "busy-time-self";
        }

        if (gate.PinnedOrders.Any(pin => pin.ProcessTimeStart <= currentPartOfTime && pin.ProcessTimeStop > currentPartOfTime))
        {
            return "busy-time-other";
        }

        if (gate.DateTo.Hour == 0)
        {
            return "not-available-time";
        }

        hoursFromStart = hoursFromStart % 24;

        return gate.DateFrom.Hour <= hoursFromStart && gate.DateTo.Hour >= hoursFromStart
            ? "available-time"
            : "not-available-time";
    }

    private async Task SelectGateAsync(Guid gateId, int dateTime)
    {
        await GatesInfoService.SaveGateTimeAsync(gateId, dateTime);
    }

    public string GetTimeText(GateInfo gate, int hoursFromStart)
    {
        var currentPartOfTime = FirstDate.AddHours(hoursFromStart);

        var pinnedOtherOrder = gate.PinnedOrders.FirstOrDefault(pin => pin.ProcessTimeStart <= currentPartOfTime && pin.ProcessTimeStop > currentPartOfTime);

        return pinnedOtherOrder != null ? pinnedOtherOrder.TruckId : string.Empty;
    }

    private void InputChange(ChangeEventArgs e)
    {

    }

    public void OnRangeSelect(DateRange range)
    {
        FirstDate = range.Start.Date;
        LastDate = range.End.Date;
    }

    void Cancel()
    {
        ModalService.Cancel();
    }

}
