﻿@page "/counter"
@using DigitalUnloadingQueue.Components

@inject IModalService Modal

<h1>Добавить заявку</h1>

<button class="btn btn-loading" @onclick="Loading">Загрузка</button>
<br/>
<button class="btn btn-unloading" @onclick="Unloading">Разгрузка</button>

@code {

    private void Loading()
    {
        var parameters = new ModalParameters();
        Modal.Show<AddLoading>("Загрузка",parameters);
    }
    
    private void Unloading()
    {
        var parameters = new ModalParameters();
        Modal.Show<AddLoading>("Разгрузка", parameters);
    }
}
