﻿@page "/gatesettings"
@using DigitalUnloadingQueue.Data
@using DigitalUnloadingQueue.Interfaces
@using DigitalUnloadingQueue.Models
@inject IGatesInfoService GatesInfoService

<h1>Настройка терминала</h1>

<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table gate-table" style="max-width: 763px;">
        <thead>
        <tr>
            <th>Выходы</th>
            <th>Настройки</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var gate in gates)
        {
            <tr>
                <td>
                    Gate 
                    <input type="text" style="max-width: 40px;" @bind="@gate.GateNumber">
                </td>
                <td>
                    C
                    <select @onchange="@FirstTime">
                        @foreach (var template in times)
                        {
                            var selected = template == gate.DateFrom.Hour;
                            if (selected)
                            {
                                <option selected value=@($"{template}-{gate.GateId}")>@template:00</option>
                            }
                            else
                            {
                                <option value=@($"{template}-{gate.GateId}")>@template:00</option>
                            }
                            
                        }
                    </select>
                    по
                    <select @onchange="@SecondTime" >
                        @foreach (var template in times)
                        {
                            var selected = template == gate.DateTo.Hour;
                            if (selected)
                            {
                                <option selected value=@($"{template}-{gate.GateId}")>@template:00</option>
                            }
                            else
                            {
                                <option value=@($"{template}-{gate.GateId}")>@template:00</option>
                            }
                        }
                    </select>
                </td>
                <td>
                    <button @onclick="@(async () => await SaveElement(gate))"><i style="position: inherit" class="oi oi-heart"></i></button>
                    <button style="margin-left: 30px;" @onclick="@(async () => await RemoveElement(gate))"><i style="position: inherit" class="oi oi-trash"></i></button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <button class="btn btn-add-gate" @onclick="@(async () => await AddGate())">Добавить окно</button>
</div>

@code {
    List<int> times = new List<int>();
    List<GateInfo> gates = new List<GateInfo>();
    
    protected override async Task OnInitializedAsync()
    {
        for (var i = 0; i < 24; i++)
        {
            times.Add(i);
        }
        gates = Task.Run(() => GatesInfoService.GetAllGatesInfo()).GetAwaiter().GetResult();
    }

    private async Task AddGate()
    {
        GateInfo a = new GateInfo()
        {
            DateFrom = DateTime.Now.Date,
            DateTo = DateTime.Now.Date.AddHours(23),
            GateId = Guid.NewGuid()
        };
        if (gates.Count == 0)
        {
            a.GateNumber = 1;
        }
        else
        {
            a.GateNumber = gates.Select(x => x.GateNumber).Max() + 1;
        }
        gates.Add(a);
        await GatesInfoService.AddGate(a);
    }

    private async Task RemoveElement(GateInfo gate)
    {
        gates.Remove(gate);
        await GatesInfoService.DeleteGate(gate.GateId);
    }

    private async Task SaveElement(GateInfo gate)
    {
        await GatesInfoService.ChangeGateInfo(gate.GateId, gate);
    }

    private void FirstTime(ChangeEventArgs e)
    {
        var str = e.Value.ToString();
        var time = Int32.Parse(str.Substring(0, str.IndexOf("-")));
        var gateId = str.Substring(str.IndexOf("-")+1);
        var gate = gates.Where(x => x.GateId == new Guid(gateId)).FirstOrDefault();
        gate.DateFrom = DateTime.Now.Date.AddHours(time);
    }

    private void SecondTime(ChangeEventArgs e)
    {
        var str = e.Value.ToString();
        var time = Int32.Parse(str.Substring(0, str.IndexOf("-")));
        var gateId = str.Substring(str.IndexOf("-")+1);
        var gate = gates.Where(x => x.GateId == new Guid(gateId)).FirstOrDefault();
        gate.DateTo = DateTime.Now.Date.AddHours(time);
    }

}

@functions {

    

}
