﻿@page "/"

<h1>Электронная очередь на погрузку и разгрузку</h1>

<h5>
    Сервис для планирования погрузки/разгрузки.
    <br />
    На больших складах бывает проблема в виде очередей из больших толстых фур и грузовиков.
    <br />
    Как решить ее с помощью нашего сайта?
</h5>

<h1>
    Постановка транспортного средства на погрузку.
</h1>
<h5>
    - Заявки, поставленные на отгрузку должны быть привязаны к воротам склада на конкретное время с запланированным сроком погрузки/разгрузки.
</h5>
<h5>
    - Можно описать сколько есть ворот на погрузку, разгрузку на складе и увидеть расписание погрузочных, разгрузочных работ так, чтобы можно было быстро визуально увидеть свободные часы, назначить туда трак на погрузку, разгрузку.
</h5>
<h5>
    - Можно указать вручную плановый срок погрузки для каждой заявки.
</h5>
<h5>
    - Предоставлен удобный интерфейс, где можно визуально увидеть свободное временное окно на воротах и поставить туда заявку на погрузочные/разгрузочные работы.
</h5>
<h5>
    - По договоренности со складом нам могут выделяться дополнительные ворота.
</h5>
