﻿@page "/loading_quieue"

@inject ILoadingQueueService LoadingQueueService
@inject IModalService Modal
@using DigitalUnloadingQueue.Components
@using DigitalUnloadingQueue.Data
@using DigitalUnloadingQueue.Interfaces
@using DigitalUnloadingQueue.Models
@using FrontOrder = DigitalUnloadingQueue.Models.LoadingOrder;


<h1>Все заявки</h1>

@if (_items == null)
{
    <p><em>Loading...</em></p>
}
else if (!_items.Any())
{
    <p><em>Loading queue is empty.</em></p>
}
else
{
    <table class="table">
        <thead style="position: relative;">
            <tr>
                <th>Водитель</th>
                <th>Транспорт</th>
                <th>Вес,т / объём, м<sup><small>3</small></sup>, груз</th>
                <th>Время на разгрузку</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _items)
            {
            <tr>
                <td>
                    @item.DriverName <br/>
                    @item.PhoneNumber
                </td>
                <td>
                    <div>
                        Номер машины: <span style="text-decoration:underline">@item.TruckId</span>
                    </div>
                    <div>
                        Тип кузова: <span style="text-decoration:underline">@item.BodyType</span>
                    </div>
                    @if (!string.IsNullOrEmpty(item.UnloadingType))
                    {
                        <div>
                            Разгрузка: <span style="text-decoration:underline">@item.UnloadingType</span>
                        </div>
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.LoadName))
                    {
                        <div>
                            Груз: <span style="text-decoration:underline">@item.LoadName</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.ADR))
                    {
                        <div style="text-decoration: underline; color: red">
                            ADR-@item.ADR
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.Pack))
                    {
                        <div>
                            Упаковка: <span style="text-decoration:underline">@item.Pack</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.Belts))
                    {
                        <div>
                            Ремни: <span style="text-decoration:underline">@item.Belts</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.Dimensions))
                    {
                        <div>
                            Габариты <span style="color:#888">(ДxШxВ,м)</span>: <span style="text-decoration:underline">@item.Dimensions</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.Pieces))
                    {
                        <div>
                            Количество штук: <span style="text-decoration:underline">@item.Pieces</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.Volume))
                    {
                        <div>
                            Объём: <span style="text-decoration:underline">@(item.Volume)м</span><sup><small>3</small></sup>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.Weight))
                    {
                        <div>
                            Вес: <span style="text-decoration:underline">@(item.Weight)т.</span>
                        </div>
                    }
                </td>
                <td>
                    <input style="max-width: 45px;text-align: right;" type="text" @bind="@item.ProcessTimeDuration" /> ч.<br/>
                    <button style="margin-top: 5px;" @onclick="@(() => UpdateProcessUnloadingTime(item.Id))"><i style="position: relative;" class="oi oi-loop-circular"></i></button>
                </td>
                <td><button @onclick="@(() => PinItem(item.Id))"><i class="oi oi-media-play"></i></button></td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<FrontOrder> _items;

    protected override async Task OnInitializedAsync()
    {
        _items = await LoadingQueueService.GetItemsAsync();
    }

    private void UpdateProcessUnloadingTime(Guid orderId)
    {
        var item = _items.FirstOrDefault(i => i.Id == orderId);
        if (item != null)
        {
            Task.Run(() => LoadingQueueService.ChangeOrderInfo(orderId, item)).GetAwaiter().GetResult();
        }
    }

    private void PinItem(Guid orderId)
    {
        var item = _items.FirstOrDefault(i => i.Id == orderId);

        if (item == null)
        {
            return;
        }

        var parameters = new ModalParameters();
        parameters.Add("OrderInfo", item);

        var options = new ModalOptions()
        {
            DisableBackgroundCancel = true,
            Style = "blazored-prompt-modal"
        };

        Modal.OnClose += result =>
        {
            if (!result.Cancelled)
            {
                var obj = (FrontOrder) result.Data;
                RemoveItem(obj.Id);
            }
        };

        Modal.Show<InviteToGate>($"Выберите время на разгрузку заявки \"{item.TruckId}\"", parameters, options);
    }

    private void RemoveItem(Guid orderId)
    {
        var itemToDelete = _items.FirstOrDefault(i => i.Id == orderId);

        if (itemToDelete != null)
        {
            _items.Remove(itemToDelete);
            StateHasChanged();
        }
    }
}
