﻿@using System.ComponentModel.DataAnnotations
@using DigitalUnloadingQueue.Data
@using DigitalUnloadingQueue.Interfaces
@using DigitalUnloadingQueue.Models

@inject IModalService ModalService
@inject IGatesInfoService GatesInfosInfoService
@inject WeatherForecastService WeatherForecastService

<div class="simple-form">
    Имя водителя <input type="text" @bind="DriverName" style="margin-top: 10px;"/><br />
    Контактный номер телефона <input type="text" @bind="PhoneNumber" style="margin-top: 10px;" /><br />
    Номер машины <input type="text" @bind="TruckId" style="margin-top: 10px;"/><br />
    <br/>
    Наименование груза   <input type="text" @bind="LoadName" style="margin-top: 10px;" /><br />
    ADR <input type="text" @bind="ADR" style="margin-top: 10px;" /><br />
    Вес, т <input type="text" @bind="Weight" style="margin-top: 10px;"/><br />
    Упаковка <input type="text" @bind="Pack" style="margin-top: 10px;" /><br />
    Штук <input type="text" @bind="Pieces" style="margin-top: 10px;"/><br />
    Ремней, шт <input type="text" @bind="Belts" style="margin-top: 10px;"/><br />
    Объем, м3 <input type="text" @bind="Volume" style="margin-top: 10px;"/><br />
    Габариты <span style="color:#888">(ДxШxВ,м)</span> <input type="text" @bind="Dimensions" style="margin-top: 10px;" /><br />
    Тип кузова <input type="text" @bind="BodyType" style="margin-top: 10px;" /><br />
    Тип загрузки\выгрузки <input type="text" @bind="UnloadingType" style="margin-top: 10px;" /><br />

    <button class="btn btn-add-load" @onclick="@(async () => await Add())" style="margin-top: 20px;">Добавить</button>
</div>

@code {

    [CascadingParameter]
    ModalParameters Parameters { get; set; }

    private string DriverName { get; set; }
    private string PhoneNumber { get; set; }
    private string TruckId { get; set; }

    private string LoadName { get; set; }
    private string Weight { get; set; }
    private string Volume { get; set; }
    private string BodyType { get; set; }
    private string UnloadingType { get; set; }
    private string Pack { get; set; }
    private string Pieces { get; set; }
    private string Belts { get; set; }
    private string Dimensions { get; set; }
    private string ADR { get; set; }

    protected override async Task OnInitializedAsync()
    {
    }

    private async Task Add()
    {
        if (string.IsNullOrEmpty(TruckId) || TruckId.Length > 9)
        {
            return;
        }

        if (string.IsNullOrEmpty(PhoneNumber) || string.IsNullOrEmpty(DriverName) || string.IsNullOrEmpty(UnloadingType))
        {
            return;
        }

        await WeatherForecastService.AddLoadAsync(new LoadingOrder()
        {
            Belts = Belts,
            Dimensions = Dimensions,
            Pack = Pack,
            Pieces = Pieces,
            Volume = Volume,
            Weight = Weight,
            BodyType = BodyType,
            DriverName = DriverName,
            LoadName = LoadName,
            PhoneNumber = PhoneNumber,
            TruckId = TruckId,
            UnloadingType = UnloadingType,
            ADR = ADR
        });
        ModalService.Cancel();
    }

    void Cancel()
    {
        ModalService.Cancel();
    }
}