﻿@using DigitalUnloadingQueue.Data
@using DigitalUnloadingQueue.Models
@using BlazorDateRangePicker
@using DigitalUnloadingQueue.Interfaces
@using FrontOrder = DigitalUnloadingQueue.Models.LoadingOrder;

@inject ILoadingQueueService LoadingQueueService
@inject IModalService ModalService
@inject IGatesInfoService GatesInfoService

    <div style="align-items: end">
        <button @onclick="@(async () => await SavePinAsync())"><i style="position: inherit" class="oi oi-pin"></i></button>
        <DateRangePicker OnRangeSelect="OnRangeSelect" StartDate="@FirstDate" EndDate="@LastDate" />
    </div>


<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table gate-table" style="max-width: 763px;">
        <thead>
            <tr>
                <th>Время</th>
                @foreach (var item in items)
                {
                    <th>Gate&nbsp;@item.GateNumber</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < ((LastDate - FirstDate).Days + 1) * 24; i++)
            {
                if (i % 24 == 0)
                {
                    @FirstDate.AddDays(i / 24).ToString("dddd, dd MMMM yyyy")
                }

                var hour = i;
                <tr>
                    <td>@($"{hour % 24}:00")</td>
                    @foreach (var item in items)
                    {
                        <td class="@GetClass(item, hour)" @onclick="@(() => SelectGate(item, hour))">@GetTimeText(item, hour)</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@code {

    [CascadingParameter] ModalParameters Parameters { get; set; }
    FrontOrder OrderInfo { get; set; }

    private IList<GateInfo> items;
    private DateTime FirstDate;
    private DateTime LastDate;

    private DateTime startTime;
    private DateTime finishTime;
    private Guid selectedGate = Guid.Empty;


    protected override async Task OnInitializedAsync()
    {
        OrderInfo = Parameters.Get<FrontOrder>("OrderInfo");

        items = Task.Run(() => GatesInfoService.GetAllGatesInfo()).GetAwaiter().GetResult();
        FirstDate = DateTime.Now.Date;
        LastDate = DateTime.Now.Date;
    }

    public void OnRangeSelect(DateRange range)
    {
        FirstDate = range.Start.Date;
        LastDate = range.End.Date;
    }

    public string GetTimeText(GateInfo gate, int hoursFromStart)
    {
        var currentPartOfTime = FirstDate.AddHours(hoursFromStart);
        if (gate.GateId == selectedGate && startTime <= currentPartOfTime && finishTime > currentPartOfTime)
        {
            return OrderInfo.TruckId;
        }

        var pinnedOtherOrder = gate.PinnedOrders.FirstOrDefault(pin => pin.ProcessTimeStart <= currentPartOfTime && pin.ProcessTimeStop > currentPartOfTime);

        return pinnedOtherOrder != null ? pinnedOtherOrder.TruckId : string.Empty;
    }

    private string GetClass(GateInfo gate, int hoursFromStart)
    {
        var currentPartOfTime = FirstDate.AddHours(hoursFromStart);
        if (gate.GateId == selectedGate && startTime <= currentPartOfTime && finishTime > currentPartOfTime)
        {
            return "busy-time-self";
        }

        if (gate.PinnedOrders.Any(pin => pin.ProcessTimeStart <= currentPartOfTime && pin.ProcessTimeStop > currentPartOfTime))
        {
            return "busy-time-other";
        }

        if (gate.DateTo.Hour == 0)
        {
            return "not-available-time";
        }

        hoursFromStart = hoursFromStart % 24;

        return gate.DateFrom.Hour <= hoursFromStart && gate.DateTo.Hour >= hoursFromStart
            ? "available-time"
            : "not-available-time";
    }

    private void SelectGate(GateInfo gate, int hoursFromStart)
    {
        if (gate.DateTo.Hour == 0)
        {
            return;
        }

        var selectedStartTime = FirstDate.AddHours(hoursFromStart);
        var selectedFinishTime = FirstDate.AddHours(hoursFromStart + OrderInfo.ProcessTimeDuration);

        if (gate.PinnedOrders.Any(order => order.Id != OrderInfo.Id && !(order.ProcessTimeStart >= selectedFinishTime || order.ProcessTimeStop <= selectedStartTime)))
        {
            return;
        }

        if (selectedStartTime.Hour < selectedFinishTime.Hour)
        {
            if (!(gate.DateTo.Hour >= selectedFinishTime.Hour - 1 && gate.DateFrom.Hour <= selectedStartTime.Hour))
            {
                return;
            }
        }
        else
        {
            if (selectedFinishTime.Hour == 0 && gate.DateTo.Hour < 23)
            {
                return;
            }

            if (selectedFinishTime.Hour > 0 && gate.DateFrom.Hour > 0)
            {
                return;
            }
        }

        startTime = selectedStartTime;
        finishTime = selectedFinishTime;
        selectedGate = gate.GateId;
    }

    private async Task SavePinAsync()
    {
        if (selectedGate == Guid.Empty)
        {
            return;
        }

        await LoadingQueueService.PinOrderToGate(
            OrderInfo.Id,
            selectedGate,
            startTime,
            finishTime,
            OrderInfo.ProcessTimeDuration);

        Cancel(true);
    }

    void Cancel(bool canceled)
    {
        var result = canceled
            ? ModalResult.Ok(OrderInfo)
            : ModalResult.Cancel();

        ModalService.Close(result);
    }
}