﻿@using DigitalUnloadingQueue.Data
@using DigitalUnloadingQueue.Models
@using BlazorDateRangePicker
@using DigitalUnloadingQueue.Interfaces
@using FrontOrder = DigitalUnloadingQueue.Models.LoadingOrder;

@inject ILoadingQueueService LoadingQueueService
@inject IModalService ModalService
@inject IGatesInfoService GatesInfoService

<table class="table">
    <thead style="position: relative;">
        <tr>
            <th>Водитель</th>
            <th>Транспорт</th>
            <th>Вес,т / объём, м<sup><small>3</small></sup>, груз</th>
            <th>Разгрузка</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    @item.DriverName <br />
                    @item.PhoneNumber
                </td>
                <td>
                    <div>
                        Номер&nbsp;машины:&nbsp;<span style="text-decoration:underline">@item.TruckId</span>
                    </div>
                    <div>
                        Тип&nbsp;кузова:&nbsp;<span style="text-decoration:underline">@item.BodyType</span>
                    </div>
                    @if (!string.IsNullOrEmpty(item.UnloadingType))
                    {
                    <div>
                        Разгрузка:&nbsp;<span style="text-decoration:underline">@item.UnloadingType</span>
                    </div>
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.LoadName))
                    {
                        <div>
                            Груз: <span style="text-decoration:underline">@item.LoadName</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.ADR))
                    {
                        <div style="text-decoration: underline; color: red">
                            ADR-@item.ADR
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.Pack))
                    {
                        <div>
                            Упаковка: <span style="text-decoration:underline">@item.Pack</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.Belts))
                    {
                        <div>
                            Ремни: <span style="text-decoration:underline">@item.Belts</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.Dimensions))
                    {
                        <div>
                            Габариты <span style="color:#888">(ДxШxВ,м)</span>: <span style="text-decoration:underline">@item.Dimensions</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.Pieces))
                    {
                        <div>
                            Количество штук: <span style="text-decoration:underline">@item.Pieces</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.Volume))
                    {
                        <div>
                            Объём: <span style="text-decoration:underline">@(item.Volume)м</span><sup><small>3</small></sup>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.Weight))
                    {
                        <div>
                            Вес: <span style="text-decoration:underline">@(item.Weight)т.</span>
                        </div>
                    }
                </td>
                <td>
                    Ворота @gate <br />
                    Начало разгрузки @FirstDate.ToString("dd MMMM yyyy, HH:mm:ss") <br />
                    Продолжительность разгрузки @(item.ProcessTimeDuration)ч.
                </td>
            </tr>
    </tbody>
</table>

@code {

    [CascadingParameter] ModalParameters Parameters { get; set; }
    PinnedOrder item { get; set; }

    private DateTime FirstDate;
    private DateTime LastDate;

    private int gate;


    protected override async Task OnInitializedAsync()
    {
        item = Parameters.Get<PinnedOrder>("OrderInfo");
        FirstDate = Parameters.Get<DateTime>("FirstDate");
        LastDate = Parameters.Get<DateTime>("LastDate");
        gate = Parameters.Get<int>("Gate");
    }

    void Cancel()
    {
        ModalService.Cancel();
    }
}